<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChartApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ChartFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6712AAB419D828C700A2E842</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6712AAC919D828C700A2E842</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6712AADE19D828D700A2E842</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6712AAE819D828D700A2E842</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
